.tabcontent{
    ul{
        list-style-type: none;

        li{
            margin-top: 3rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

}