.liveCurrencyTable{
    background-color: #F8FAFB;
    padding: 20px;
    .priceHead{
        p{
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;
            color: #708390;
        }
    }

    .coinPrice{
        h3{
        font-size: 24px;
        font-weight: 500;
        line-height: 1.83;
        color: #2e384d;

        }

        p{
            font-size: 22px;
            font-weight: 500;
            color: #2e384d;
            line-height: 1.83;
        }
    }
}