.kreditCol{
    h1{
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: white;
        max-width: 100%;
    }

    img{
        width: 300px;
        height: 266px;
        object-fit: contain;
    }
}